/**
 * components/_forms.scss
 */

/* ==========================================================================
   Forms
   ========================================================================== */


input {
  font-size: $font-lg;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 3px;
  border: 1px solid $color-white;;
  margin: 0 auto $padding-md auto;
  padding: ($padding-md - $padding-xs) $padding-lg;
  background: transparent;
  color: $color-white;
  text-align: center;
}

.form-group {
  &.has-error input {
    border-bottom: 2px solid $color-brand-danger;
  }
}


@include bp-more-than ($medium-screen-min) {

  .form-group{
    &.has-error input{
      border-color: $color-brand-danger;
    }
  }

  input {
    background: $color-gray-darker;
    color: $color-white;;
    border: none;
    font-size: $font-xl * 1.2;
    min-width: 0;
    padding: 10px 20px;
  }
}

