
.hero {
  position: relative;

  @include element('item') {
    background: transparent;
    margin: 0;
    overflow: hidden;
    position: relative;
    min-height: 300px;

    img, picture {
      display: block;
      width: 100%;
    }
  }

  @include element('title') {
    display: table;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    $transition: all;
    @include transition($transition);
    background: rgba(0, 0, 0, 0.35);

    &:hover {
      @include transition($transition);
      opacity: 0;
    }

    color: $color-white;
    font-weight: 200;
    min-height: 125px;
    padding: 15px 20px;
    width: 220px;
    text-align: center;

    small {
      display: block;
      font-size: $font-xs;
      font-weight: bold;
      margin: $margin-xs 0;
    }


    @include bp-more-than($medium-screen-min) {
        font-size: $font-xl * 2.5;
        min-height: 200px;
        height: 200px;
        width: 490px;
        padding: 20px 20px;
    }

    @include bp-more-than($large-screen-min) {
      font-size: $font-xl * 2;
      letter-spacing: 10px;
      width: 600px;
    }


  }

  @include element('navigation') {
    position: absolute;
    width: 100%;
    height: 180px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    > a {
      position: absolute;
      cursor: pointer;
      color: white;
      text-align: center;
      display: inline-block;
      padding: 0;
      zoom: 1;
      font-size: 56px;
      @include opacity(0.8);
      height: 180px;
      width: 80px;
      line-height: 180px;

      $transition: color;
      @include transition($transition);

      &.next {
        right: 0;
      }

      &.prev {
        left: 0;
      }

      &:hover {
        color: rgba(255, 255, 255, .5);
      }
    }
  }
}

.owl-theme .owl-dots {
  position: absolute;
  bottom: 30px;
  width: 100%;

  .owl-dot {
    span {
      background: $color-white;
      height: 0.8rem;
      width: 0.8rem;
    }
  }

  .owl-dot.active span,
  .owl-dot:hover span {
    background: $color-gray-light;
  }
}

