/**
 * components/_main.scss
 */

/* ==========================================================================
   Imports
   ========================================================================== */

@import "header";
@import "footer";
//@import "page-title";
@import "loader";
@import "buttons";
@import "pagination";
@import "gallery";
@import "hero";
@import "forms";
@import "alerts";



// pages
@import "overview-page";
@import "contact-page";

