<a class="hero__navigation hero__navigation--prev icon-double-angle-left" data-action="prev"></a>
<a class="hero__navigation hero__navigation--next icon-double-angle-right" data-action="next"></a>
<div class="hero__carousel owl-carousel owl-theme" data-action="carousel"></div>


