<div class="carousel-navigation">
    <a class="icon-double-angle-left prev"></a>
    <a class="icon-double-angle-right next"></a>
</div>
<div class="carousel owl-carousel" data-action="owl-carousel"></div>


