<section class="overview__hero"></section>

<section class="overview__description module">
    <p>For 15 years I have used my knowledge of web design and development to create effective and easy to use
        websites. I have worked in several different capacities within the industry and have developed a
        well-rounded set of skills to convert complex visual designs into clean, standard-driven, front-end code.
        Over
        the years I have worked with companies such as IBM, Starwood Hotels, Teacher's Retirement System, RGA, Draft
        FCB, RAPP and Equinox.
    </p>
</section>

<section class="overview__awards module">
    <h2 class="title">Awards</h2>

    <p>
        <img class="overview__award-image" src="/images/favourite-website-awards.png" alt="Favourite Website Awards"/>
        <strong>Public short list Favorite Websites Awards – 2011.</strong>
        <br>
        <a href="http://www.thefwa.com/shortlist/witness-org-project-focus" target="_blank">WITNESS.ORG – Project Focus</a>
    </p>

    <p>
        <img class="overview__award-image" src="/images/the_webby_awards.png" alt="The Webby Awards"/>
        <strong>The Webby Awards - 2011.</strong>
        <br>
        <a href="http://www.webbyawards.com/webbys/current.php?media_id=96&amp;season=15#webby_entry_beauty"
           target="_blank">Category - Beauty and Cosmetics. COTY: Beyoncé Heat</a>
    </p>

    <p>
        <img class="overview__award-image" src="/images/the_webby_awards.png" alt="The Webby Awards"/>
        <strong>The Webby Awards - 2010.</strong>
        <br>
        <a href="http://www.webbyawards.com/webbys/current.php?season=14#webby_entry_pharm" target="_blank">
            Category - Pharmaceuticals. myalli</a>
    </p>
</section>

<section class="overview__work module"></section>

<section class="overview__photography module"></section>

<section class="overview__code module"></section>

