<section class="module margin-vertical--xl text-align--center"></section>


<section class="module text-align--center">
    <h1 class="title">Contact Entries</h1>

  {{#each entries}}
      <p><strong>Name:</strong> {{firstName}} {{lastName}}
          <strong>email:</strong> {{email}}
      </p>
  {{/each}}

</section>




