/**
 * objects/_container.scss
 */

/* ==========================================================================
   Module
   ========================================================================== */

.container {
  padding: 0 $padding-md;
}


@include bp-more-than ($medium-screen-min) {
  .container {
    max-width: $medium-screen-min;
    margin-left: auto;
    margin-right: auto;
  }
}

@include bp-more-than ($large-screen-min) {
  .container {
    max-width: $large-screen-min;
  }
}

@include bp-more-than ($extra-large-screen-min) {
  .container {
    max-width: $extra-large-screen-min;
  }
}
