<h4>Follow me</h4>
<ul class="footer__social-icons">
    <!--<li><a target="_blank" rel="nofollow" title="facebook" class="icon-facebook" href="http://www.facebook.com/michael.romanoff"></a></li>-->
    <li><a target="_blank" rel="nofollow" title="twitter" class="icon-twitter" href="https://twitter.com/zelcie"></a></li>
    <li><a target="_blank" rel="nofollow" title="instagram" class="icon-instagram" href="https://www.instagram.com/michael.romanoff"></a></li>
    <li><a target="_blank" rel="nofollow" title="github" class="icon-github2" href="https://github.com/mromanoff"></a></li>
    <li><a target="_blank" rel="nofollow" title="linkedin" class="icon-linkedin" href="http://www.linkedin.com/in/michaelromanoff"></a></li>
</ul>

<ul class="footer__links">
  {{#each primaryItems}}
      <li {{#if active}}class="active"{{/if}}><a href="#{{path}}">{{name}}</a></li>
  {{/each}}
</ul>
<hr>
<p class="footer__copyright">© Copyright Romanoff.io 1998 — {{currentYear}} All Right Reserved.</p>

